body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #555;
}


ul.navbar .right {
    float: right;
}



* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.signup-container {
    max-width: 60%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 4px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 40%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.signup-form button {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    font-size: 16px;
    transition: background-color 0.2s;
}

.signup-form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 340px;
    padding: 10px 25px;
    clear: both;
}

footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #555;
    margin-top: 10px;
    margin-bottom: 5px;
}
