<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<header>
    <ul class="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="right"><a href="/signup">Sign Up</a></li>
        <li class="right"><a href="/login">Login</a></li>
    </ul>
</header>
<div class="page-center">
    <div class="container">
    <h2>Meet the Team</h2>
    <p class="about-paragraph">Welcome to our Employee Site! We take pride in providing a platform that values and supports our dedicated team of professionals. Our employee site serves as a hub of resources, fostering collaboration, productivity, and employee well-being. Here, you'll find a wealth of information about our team members, their contributions, and the diverse talents that drive our organization forward. We believe that a well-informed and empowered workforce is the cornerstone of success, and this site reflects our commitment to transparency and engagement. Explore the stories, achievements, and aspirations of our team as we work together to achieve excellence and create a thriving work environment.</p>

    <div class="team-member">
        <img src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg" alt="pic1">
        <strong>Balqees Al-Qudah</strong> - CEO
    </div>
    <br>
    <div class="team-member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8_wD1z2ZYwH5oqhcp601Di9bkDU8kvR2Hdg&usqp=CAU" alt="pic2">
        <strong>Adam Zarkani</strong> - CTO
    </div>
    <br>
    <div class="team-member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzBpnouxDuF063trW5gZOyXtyuQaExCQVMYA&usqp=CAU" alt="pic3">
        <strong>David Johnson</strong> - CFO
    </div>
    </div>
</div>
<footer>
    <p>&copy; 2023 Code FellowShip Website. All rights reserved.</p>
</footer>

</body>
</html>