<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Discover Users</title>-->
<!--    <link rel="stylesheet" href="/css/discoverUsers.css">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <ul class="navbar">-->
<!--        <li><a href="/securedHome">Home</a></li>-->
<!--        <li><a href="/securedAbout">About</a></li>-->
<!--        <li><a href="/contact">Contact</a></li>-->
<!--        <li><a href="/myprofile">My profile</a></li>-->
<!--        <li><a href="/myposts">My posts</a></li>-->
<!--        <li> <a  href="/getallusers">All Users</a></li>-->

<!--        <li class="right"><a href="/logout">Log out</a></li>-->
<!--    </ul>-->
<!--</header>-->
<!--<main>-->
<!--    <section class="user-list">-->
<!--        <h2>Users to Discover</h2>-->
<!--        <ul class="list">-->
<!--            <li class="list-item" th:each="user : ${users}">-->
<!--                <div class="user-info">-->
<!--                    <strong>Username:</strong>-->
<!--                    <span class="info-text">${user.username}</span>-->
<!--                    <strong>First Name:</strong>-->
<!--                    <span class="info-text">${user.firstName}</span>-->
<!--                    <form action="/follow/${user.id}" method="post">-->
<!--                        <button type="submit">Follow</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </section>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->
