<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Code FellowShip Website</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: index-header"></div>
<header>
    <ul class="navbar">
        <li><a href="/securedHome">Home</a></li>
        <li><a href="/securedAbout">About</a></li>
        <li><a href="/myprofile">My profile</a></li>
        <li><a href="/myposts">My posts</a></li>
        <li> <a  href="/allusers">All Users</a></li>
        <li> <a  href="/feed">Feed</a></li>


        <li class="right"><a href="/logout">Log out</a></li>
    </ul>
</header>
<h3>Posts From followed users : </h3>

<ul th:each="post : ${posts}">
    <li>
        <a th:href="@{'/users/' + ${post.applicationUser.id}}" th:text="${'User : ' + post.applicationUser.username}"></a>
        <p th:text="${post.body}"></p>
    </li>
</ul>
</body>
</html>