<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Code FellowShip Website</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: index-header"></div>
<header>
    <ul class="navbar">
        <li><a href="/securedHome">Home</a></li>
        <li><a href="/securedAbout">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/myprofile">My profile</a></li>
        <li><a href="/myposts">My posts</a></li>
        <li class="right"><a href="/logout">Log out</a></li>
    </ul>
</header>
<section id="home">
    <h2>Welcome to our Code Fellow Ship website. We are dedicated to providing information about our organization and team.</h2>
    <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="pic">
</section>


<form action="/logout" method="POST">
    <input type="submit" value="Log Out">
</form>


<footer>
    <p>&copy; 2023 Code FellowShip Website. All rights reserved.</p>
</footer>


</body>
</html>
