<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Code FellowShip Website</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header>
    <ul class="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="right"><a href="/signup">Sign Up</a></li>
        <li class="right"><a href="/login">Login</a></li>
    </ul>
</header>

<section id="home">
    <h2>Welcome to our Code Fellow Ship website. We are dedicated to providing information about our organization and team.</h2>
    <img src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="pic">
</section>


<footer>
    <p>&copy; 2023  Code FellowShip Website. All rights reserved.</p>
</footer>


</body>
</html>
