<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Users</h1>-->
<!--<ul>-->
<!--    <li th:each="user : ${users}">-->
<!--        <span th:text="${user.username}"></span>-->
<!--        &lt;!&ndash; Follow Button &ndash;&gt;-->
<!--        <form th:action="@{'/follow/' + codeFellowUserId}" method="POST">-->
<!--            <button type="submit">Follow</button>-->
<!--        </form>-->

<!--        &lt;!&ndash; Unfollow Button &ndash;&gt;-->
<!--        <form th:action="@{'/unfollow/' + codeFellowUserId}" method="POST" th:if="${isFollowing}">-->
<!--            <button type="submit">Unfollow</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->

<!--</body>-->
<!--</html>-->