<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="userInfo.css">

  <title>Your Information </title>
</head>
<body>
<header>
  <ul class="navbar">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/userInfo">Information</a></li>
    <li class="right"><a href="/logout">Log out</a></li>
  </ul>
</header>

<div class="container">

  <h1>User Information</h1>
<!--  i used the getter because these attributes are private in models -->
  <p>Username: <span th:text="${username.getUsername()}"></span></p>
  <p>First Name: <span th:text="${username.getFirstName()}"></span></p>
  <p>Last Name: <span th:text="${username.getLastName()}"></span></p>
  <p>Date of Birth: <span th:text="${username.getDateOfBirth()}"></span></p>
  <p>Bio: <span th:text="${username.getBio()}"></span></p>

</div>

  <form action="/logout" method="POST">
    <input type="submit" value="Log Out">
  </form>

  <footer>
    <p>&copy; 2023 Code FellowShip Website. All rights reserved.</p>
  </footer>

</body>
</html>