<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="userInfo.css">

  <title>Your Information </title>
</head>
<body>
<header>
  <ul class="navbar">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/userInfo">Information</a></li>
    <li class="right"><a href="/logout">Log out</a></li>
  </ul>
</header>

<div class="container">

<!--  this template used by ****Principal***** in controller-->


  <h1>User Information</h1>
  <h3 th:if="${username != null}" th:text="${'Current user: ' + username }"></h3>
  <p>First Name: <span th:text="${firstName}"></span></p>
  <p>Last Name: <span th:text="${lastName}"></span></p>
  <p>Date of Birth: <span th:text="${dateOfBirth}"></span></p>
  <p>Bio: <span th:text="${bio}"></span></p>

</div>

  <form action="/logout" method="POST">
    <input type="submit" value="Log Out">
  </form>

  <footer>
    <p>&copy; 2023 Code FellowShip Website. All rights reserved.</p>
  </footer>

</body>
</html>